<div class="chat-header">
  <h2 class="chat-title"><%= @room.name %></h2>
  <p class="chat-quit">
    <%= link_to 'チャットを終了する', room_path(@room), method: :delete, class: 'chat-quit-btn' %>
  </p>
</div>
<div class="chat-messages">
  <% @messages.each do |message| %>
  <div class="message">
    <div class="message-header">
      <div class="message-poster"><%= message.user.name %></div>
      <div class="messaged-at"><%= l message.created_at %></div>
    </div>
    <div class="message-body"><%= message.content %></div>
  </div>
  <% end %>
</div>
<div class="chat-form">
  <%= form_with(model: [@room, @message], local: true, class: 'chat-send-form') do |form| %>
    <div class="chat-send-contents">
      <%= form.text_field :content, placeholder: 'type a message', class: 'chat-send-message' %>
      <label class="chat-send-image">
        <span class="chat-send-image-text">画像</span>
        <%= form.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= form.submit "送信", class: 'chat-send-btn' %>
  <% end %>
</div>
